/* Base sidebar */
.sidebar {
    background-color: #212529;
    transition: transform 0.3s ease;
}

/* Mobile behavior */
@media (max-width: 767px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        /* FULL SCREEN */
        transform: translateX(-100%);
        z-index: 1040;
    }

    .sidebar.open {
        transform: translateX(3);
        /* slide in */
    }
}

/* Desktop behavior */
@media (min-width: 768px) {
    .sidebar {
        width: 260px;
        min-width: 260px;
        transform: none !important;
        position: relative;
    }
}
