html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #F8F9FA;
  font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 15px;
    /* optional, sets default size */
    line-height: 1.5;
    /* improves readability */
    color: #111827;
  /* choose your color */
}
@media (max-width: 768px) {
  .formbg {
    margin: 9px;
  }
}
