html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #F8F9FA;
  font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 15px;
    /* optional, sets default size */
    line-height: 1.5;
    /* improves readability */
    color: #111827;
  /* choose your color */
}
@media (max-width: 768px) {
  .formbg {
    margin: 9px;
  }
}
#sidebar {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  margin-bottom: 6px;

  color: #e0e0e0;
  text-decoration: none;
  border-radius: 8px;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link .icon {
  font-size: 18px;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.sidebar-link.active {
  background-color: #1a839a;
  /* Bootstrap primary */
  color: #ffffff;
}